Faker==18.6.0
Faker==18.6.0
pycountry==22.3.5
pyarrow==11.0.0
pandas==2.0.1
requests==2.29.0
forex-python==1.8
forex-python==1.8
pycountry-convert==0.7.2
pycountry-convert==0.7.2
countryinfo==0.1.2
countryinfo==0.1.2
tqdm==4.65.0
openai==0.27.5
reportlab==3.6.13
PyPDF4==1.27.0
python-dotenv==1.0.0
pandas==2.0.1
install==1.3.5
geopy==2.3.0
geopy==2.3.0
geocoder==1.38.1
geocoder==1.38.1
geopandas==0.12.2
pandas-profiling==3.6.6
weasyprint==58.1
sweetviz==2.1.4
pdfkit==1.0.0
pdfkit==1.0.0
transformers==4.28.1
sentencepiece==0.1.99
torchvision==0.15.1
torch==2.0.0
torchvision==0.15.1
datasets==2.12.0
